<html>
  <style>

    table, th, td {
      border: 1px solid #333333;
      border-collapse: collapse;
    }
    
    th, td {
      background-color: #EDEDED;
    }
  </style>
  
  <title>Sample Template</title>
  
  <div >
    <font size="+5">{{title}}</font>
  </div>

  <div id="container">
    <table>
      <tr>
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
      </tr>
      
      {% for row in table_rows %}
      <tr>
        {% for column in row %}
        <td>{{column}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</html>
